#tutorial-image {
    width: 100%;
}

#tutorial-step-count {
    font-size: .7em;
    font-weight: bold;
}

#prevButton {
    border-radius: 0;
    font-size: 1.5em;
}

#nextButton {
    border-radius: 0;
    font-size: 1.5em;
}