#mapboard{
    margin: 0;
    padding: 0;
    border: 0;
    max-height: 100%;
    max-width: 100%;
}

canvas {
    image-rendering: optimizeSpeed;             /*// Older versions of FF*/
    image-rendering: -moz-crisp-edges;          /*// FF 6.0+*/
    image-rendering: -webkit-optimize-contrast; /*// Webkit (non standard naming)*/
    image-rendering: -o-crisp-edges;            /*// OS X & Windows Opera (12.02+)*/
    image-rendering: crisp-edges;               /*// Possible future browsers.*/
    -ms-interpolation-mode: nearest-neighbor;   /*// IE (non standard naming)*/
}

.col{
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
}

.row{
    display: block;
    border: 1px solid darkgray;
    margin: 0;
    padding: 0;
}

.white{
    background-color: whitesmoke;
}
.black {
    background-color: black;
}
.black2{
    background-color: darkslategrey;
}
.grey{
    background-color: darkgrey;
}

.black:hover, .black2:hover{
    background-color: midnightblue;
}

.grey:hover{
    background-color: slategrey;
}

#cell-row-col{
    display: none;
    background: white;
}

#edit-button{
    display: none;
}