#mapboard{
    margin: 0;
    padding: 0;
    border: 0;
    max-height: 100%;
    max-width: 100%;
}

canvas {
    image-rendering: optimizeSpeed;             /*// Older versions of FF*/
    image-rendering: -moz-crisp-edges;          /*// FF 6.0+*/
    image-rendering: -webkit-optimize-contrast; /*// Webkit (non standard naming)*/
    image-rendering: -o-crisp-edges;            /*// OS X & Windows Opera (12.02+)*/
    image-rendering: crisp-edges;               /*// Possible future browsers.*/
    -ms-interpolation-mode: nearest-neighbor;   /*// IE (non standard naming)*/
}

.col{
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
}

.row{
    display: block;
    border: 1px solid darkgray;
    margin: 0;
    padding: 0;
}

.white{
    background-color: whitesmoke;
}
.black {
    background-color: black;
}
.intersection{
    background-color: darkslategrey;
}
.grey{
    background-color: darkgrey;
}

.horStop{
    background-color: yellow;
}

.verStop{
    background-color: yellow;
}

.black:hover, .intersection:hover{
    background-color: midnightblue;
}

.horStop:hover, .verStop:hover{
    background-color: gold;
}

.grey:hover{
    background-color: slategrey;
}

#cell-row-col{
    display: none;
    background: whitesmoke;
    padding: 5px;
    border-radius: 5px;
}

#edit-button{
    display: none;
}

#edit{
    padding: 5px;
}

#edit-button, #edit-buttons-show-hide{
    padding: 5px;
}

.edit-btn{
    padding: 10px 15px;
    background: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
}

.edit-btn:hover{
    background-color: midnightblue;
}


.edit-btn:disabled{
    background-color: midnightblue;
}

#reset{
    background-color: crimson;
    margin: 0 30px 0 45px ;
}

#reset:hover{
   background-color: darkred;
}

#reset:disabled{
    background-color: grey;
    color: lightgray;
}

#done{
    background-color: forestgreen;
    margin: 0 15px;
}

#done:hover{
    background-color: darkgreen;
}

body{
    font-family: Calibri, Arial, sans-serif;
}