/* CSS declarations go here */
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

h1 {
    font-weight: lighter;
    font-size: 2em;
}

h2 {
    font-weight: lighter;
    font-size: 1em;
}

h3 {
}

p {
}

ol {
}

ul {
}

li {
}

body {
    background-color: #ffffff;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 0px;
    color: #ffffff;
    background: #000000;
}

#gui {
    visibility: hidden;
    position: absolute;
    top: 2px;
    right: 2px
}
/* An invisible full screen object that serves as a container for the info box - hidden at
start of game */
#overlay {
    visibility: visible;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
    /*background-color: rgba(0, 0, 0, 0.85);*/
}

#intro {
    visibility: visible;
    z-index: 901;
    border-radius: 5px;
    padding: 20px;
    background-color: black;
    max-width: 50%;
    max-height: 30%;
    margin: 10% auto 0 auto;
}

#intro h1 {
    font-size: 1.5em;
    font-weight: lighter;
    padding: 0 0 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: white;
}

#intro p{
    color:white;
}

#version {
    font-size: .5em;
    color: #ffff00;
}

#lobby_count {
    display: block;
}

#lobby_wait {
    display: none;
}

#timerbox {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

#wait_text {
    text-align: center;
    padding: 0px;
    color: #ffffff;
    font-size: .8em;
}

/* White box that holds updating timer text*/
.minibox {
    visibility: visible;
    z-index: 1001;
    border-radius: 1px;
    background-color: white;
    max-width: 100%;
    max-height: 80%;
    margin: 0 0 10px 0;
}

.minibox h2{
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

#lobby_count p{
    line-height: 1.3em;
}

#countdown {
    /*display: none;*/
    /*visibility: hidden;*/
    z-index: 101;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    margin: 5%;
    height: 50px;
    line-height: 50px;
    background: rgba(0,0,0,1);
    color: white;
    font-family: sans-serif;
    font-size: 2.3em;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}

#seconds {
}

#hundredths {
    font-size: .7em;
}

#buttons {
    z-index: 999;
    background: black;
}

#buttons ul {
    list-style: none;
}

#buttons ul li {
    display: inline;
    margin: 0;
    padding: 10px;
    background: white;

}

#scoreboard {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 0;
    float: right;
    width: 50%;
    left: 50%;
    height: 70px;
    color: white;
    background-color: black;
    font-family: sans-serif;
    font-size: .5em;
    text-align: right;
    padding: 5px 0 5px 0;
}

#scoreboard ul {
    list-style: none;
}

#scoreboard li {
    padding: 4px 10px 4px 0px;
}

.no_border {
    border: none !important;
}

#map-canvas {
    position: absolute;
    bottom: 0px;
    z-index: -1;
}

/* End Game Message */
#top_container {
    visibility: hidden;
    z-index: 99;
    width: 80%;
    margin: 20% 10% 0 10%;
    position: absolute;
    top: 80px;
    background-color: rgba(0, 0, 0, .85);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: .8em;
}

#p0_status {
    margin: 5%;
    z-index: 100;
    position: absolute;
    /*display: none;*/
}

#p0_loose {
    /*display: none;*/
    z-index: 100;
    width: 200px;
}

#p0_contained {
    /*display: none;*/
    z-index: 100;
    width: 200px;
}

#p0_isolated {
    /*display: none;*/
    z-index: 100;
    width: 200px;
}

#end_game {
    visibility: hidden;
    color: white;
    margin: 10px;
    font-size: 1em;
    line-height: 1.5em;
}

#bottom_container {
    z-index: 99;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0px;
}

#left_comms {
    position: absolute;
    width: 40px;
    float: left;
    bottom: 20px;
    left:20px;
    padding: 5px;
}
#right_comms {
    position: absolute;
    clear:both;
    width: 40px;
    float: right;
    bottom: 20px;
    right:20px;
    padding: 5px;
}

.commButton {
    visibility: visible;
    z-index: 99;
    width: 30px;
    height: 30px;
    margin: 5%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    background-color: #ffffff;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    font-size: 24px;
    color: #000000;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
}

.commButton:active {
    background-color: #000000;
    color: #ffffff;
    border: 3px solid #ffffff;
}

/* Quarantine button styling */
.quarantineButton {
    z-index: 999;
    position: absolute;
    height: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    font-size: 28px;
    color: #000000;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

.centerButton {
    bottom: 40px;
    width: 50%;
    margin: 0 25% 0 25%;
}

.leftButton {
    bottom: 20px;
    width: 30%;
    margin: 0 55% 0 15%;
}

.rightButton {
    bottom: 20px;
    width: 30%;
    margin: 0 15% 0 55%;
}

.buttonSubtext {
    position: fixed;
    bottom: 20px;
    width: 80%;
    margin: 0 10% 0 10%;
    font-size: 14px;
    font-weight: bold;
    color: rgba(164,182,200,1.0);
    text-align: center;
}

.cancelButton {
    background-color: rgba(164,182,200,0.9);
}

.buildButton {
    background-color: rgba(253,238,74,0.9);
}

.destroyButton {
    background-color: rgba(63,72,83,0.9);
    color: rgba(164,182,200,0.9);
}

/* Main button styling */
.mainButton {
    z-index: 999;
    position: absolute;
    bottom: 20px;
    width: 40%;
    height: 50px;
    margin: 0 30% 0 30%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    background-color: #ffffff;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border: 3px solid #000000;
    display: inline-block;
    cursor: pointer;
    font-size: 24px;
    color: #000000;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

/* Hello button styling */
.helloButton{
    color: #000000;
    background-color: #ffffff;
}

.helloButton:active {
    background-color: #000000;
    color: #ffffff;
    border: 3px solid #ffffff;
}

/* Shout button styling */
.shoutButton {
    color: #000000;
    background-color: #ffa352;
}
.shoutButton:hover {
    background-color: #ffbb54;
}

.shoutButton:active {
    background-color: #000000;
    color: #ffffff;
    border: 3px solid #ffa352;
}

/* introduction screen styling*/
#intro_container {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #111111;
    z-index: 1100;
}

#title{
    font-size: .67em;
    padding: 20px 30px;
    color: white;
}

#intro_container img{
    width: 85%;
    margin: 0 7.5%;
}

#intro_text{
    font-size: .7em;
    font-weight: lighter;
    text-align: left;
    line-height: 1.2em;
    padding: 20px 30px;
    color: white;
}

/* Oh Snap Notifications styling */
/* ALERTS */
/* inspired by Twitter Bootstrap */
/* Oh Snap */

#ohsnap {
    position: fixed;
    top: 120px;
    left: 5px;
    margin-left: 5px;
    margin-right: 10px;
    z-index: 99;
}

.alert {
    text-align: left;
    margin-top: 10px;
    padding: 15px;
    border: 4px solid white;
    border-radius: 10px;
    float: left;
    clear: left;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.alert-red {
    color: black;
    background-color: #ff5555; /*#DA4453;*/
}

.alert-green {
    color: black;
    background-color: #55ffb9; /*#37BC9B;*/
}

.alert-blue {
    color: white;
    background-color: #4A89DC;
}

.alert-yellow {
    color: black;
    background-color: #fff341; /*#F6BB42;*/
}

.alert-orange {
    color: black;
    background-color: #ffa352; /*#E9573F;*/
}

.alert-black {
    color: white;
    background-color: black;
}

#ohsnap {
    text-shadow: none;
}

@media (max-width: 450px) {
    .buttons {
        margin-bottom: 334px;
    }
}