#mapboard{
    height: 1000px;
    width: 1000px;
}

canvas {
    image-rendering: optimizeSpeed;             /*// Older versions of FF*/
    image-rendering: -moz-crisp-edges;          /*// FF 6.0+*/
    image-rendering: -webkit-optimize-contrast; /*// Webkit (non standard naming)*/
    image-rendering: -o-crisp-edges;            /*// OS X & Windows Opera (12.02+)*/
    image-rendering: crisp-edges;               /*// Possible future browsers.*/
    -ms-interpolation-mode: nearest-neighbor;   /*// IE (non standard naming)*/
}

.col{
    display: inline-block;
}

.white{
    background-color: whitesmoke;
}
.black {
    background-color: black;
}
.black2{
    background-color: darkslategrey;
}
.grey{
    background-color: darkgrey;
}